<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/clear.css">
    <link rel="stylesheet" href="../style/style.css">

</head>
<body>
    <div class="words">
        <h1 style="text-align: center;">Caminhos Euler</h1>
        <p>
            Os caminhos de Euler se tratam de seguimentos de arestas que não se repetem,
            porem, os vertices podem ser repetidos, e segundo (BRITO, 2014) um Grafo Euler
            com um único vértice e também um caminho. Para melhor compreensão atente-se na
            figura 3.1.
        </p>
        <br>

        <img id="ex1" src="../images/ex1.png" alt="" srcset="" width="100%">
        <br>
        <label itemid="ex1">
            Figura 3.1.
            Fonte: Autor.
        </label>

        <br><br>
        <p>
            Note que esse caminho Euler e um dos mais comuns que existem, muitas
            crianças quando querem aprender a desenhar uma estrela, fazem desse modo,
            onde o caminho feito e {v2, v5, v1, v4, v2}. Note que o vértice v2 se repetiu
            e que o grafo tem vértice de grau par, portanto e um caminho euleriano valido,
            pelo fato dele terminar com o mesmo vértice e chamado de <i>"ciclo"</i> ou então
            de <i>"caminho fechado".</i>
        </p>
        <br>

        <img id="ex1" src="../images/caminho2.png" alt="" srcset="" width="100%">
        <br>
        <label itemid="ex1">
            Figura 3.2.
            Fonte: Autor.
        </label>

        <br><br>
        <p>
            Para que um grafo seja nulo, deve-se possuir apenas um vértice (BRITO, 2014), como
            demonstramos na figura 3.2. Já um grafo pode-se dizer completo quando todos seus
            vertices são adjacentes, como os da figura 3.3, ou seja, possuem conexão com todos
            os outros vértices.
        </p>
        <br>

        <img id="ex1" src="../images/ex2.png" alt="" srcset="" width="100%">
        <br>
        <label itemid="ex1">
            Figura 3.3.
            Fonte: Autor.
        </label>

        <br><br>
        <p>
            Um caminho Euler pode ser utilizado para fazer-se mapeamentos isomórficos (OLIVEIRA).
            Mostramos isto na figura 3.4 onde o caminho feito é {v1, v4, v3, v2, v5} como podemos
            ver segundo as setas. Nota-se que apesar de existir uma adjacência entre os vértices
            v1, v5 e v3, eles não realizam um caminho diretamente. E como v1 e v2 não são adjacentes
            não é possível criar um caminho entre eles. 
        </p>
        <br>

        <img id="ex1" src="../images/caminho1.png" alt="" srcset="" width="100%">
        <br>
        <label itemid="ex1">
            Figura 3.4.
            Fonte: Autor.
        </label>

        <br><br>
        <p>
            <h3>» Teorema para cortar caminho entre vértices</h3>
            Considerando M um grafo em que a matriz de adjacência K utiliza os vértices em ordem do tipo:
            v1, v2... vn. A quantia de caminhos possíveis N de <i>vi</i> para <i>vj</i>, em que N é um
            inteiro positivo, é igual a k(i, j) entrada da matriz k^n (OLIVEIRA). No exemplo da figura 3.5
            nós iremos ver as possibilidades para ir do vértice V1 ao V3.
        </p>
        <br>

        <img id="ex1" src="../images/caminho3.png" alt="" srcset="" width="100%">
        <br>
        <label itemid="ex1">
            Figura 3.5.
            Fonte: Autor.
        </label>

        <br><br>
        <p>
            A matriz ficaria assim:
        </p>
        <br>

        <img id="ex1" src="../images/matriz.jpeg" alt="" srcset="" width="auto">
        <br>
        <label itemid="ex1">
            Figura 3.6.
            Fonte: (OLIVEIRA).
        </label>

        <br><br>
        <p>
            <h3>» Circuito Euleriano</h3>
            Para ser feito um circuito euleriano, deve-se primeiramente montar um grafo euleriano, fazendo as
            conexões de forma que visite <b>todos</b> os <i><b>vértices</b></i>, de forma que ao final,
            retorne ao primeiro vértice utilizado. Portanto vale relembrar que para ter-se um grafo euleriano
            é necessário que os vértices sejam de grau par. 
        </p>

        <br>
        <p>
            Então, um caminho nulo pode ser também um circuito, pois veja na figura 3.7.
        </p>
        <br>

        <img id="ex1" src="../images/circuito.png" alt="" srcset="" width="auto">
        <br>
        <label itemid="ex1">
            Figura 3.7.
            Fonte: Autor.
        </label>

        <br><br>
        <p>
            Note que se como possuímos um vértice de grau par, podemos partir do v1 em direção da a1, fazendo o
            retorno e indo diretamente para a2 de forma direta, seguindo um <i>caminho</i> de forma <i>cíclica.</i>
        </p>

        <br>
        <p>
            Portanto, retornando o problema da cidade de Königsberg, o caminho feito seria o da imagem 3.8, e como
            não há um vértice de grau par acaba não sendo um grafo euleriano, então não é também um circuito euleriano,
            o que torna o problema sem solução.
        </p>
        <br>
        
        <img id="ex1" src="../images/noeuler.jpeg" alt="" srcset="" width="auto">
        <br>
        <label itemid="ex1">
            Figura 3.8.
            Fonte: (OLIVEIRA).
        </label>

        <br><br>

        <p>
            A única condição de um multigrafo conectado possuir um caminho euleriano porém não ser circuito, é somente
            se possuir exatamente 2 vértices de grau impar, como mostra a figura 3.9.
        </p>
        <br>
        
        <img id="ex1" src="../images/nocircuito.jpeg" alt="" srcset="" width="auto">
        <br>
        <label itemid="ex1">
            Figura 3.9.
            Fonte: (OLIVEIRA).
        </label>

    </div>
</body>
</html>