<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/clear.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="words">
        <h1 style="text-align: center;">Referências</h1>
        <p>
            BRITO, A. P. d. Grafos, a formula de Euler e os poliendros regulares. Universidade Federal Rural de Pernambuco, 2014
        </p>
        <p>
            EULER Graph in Discrete Mathematics.
        </p>
        <p>
            Grafos Eulerianos. Disponivel em: <a style="color: blue; text-decoration:underline;" href="http://www.inf.ufsc.br/grafos/temas/euleriano/euleriano.htm" target="_blank">http://www.inf.ufsc.br/grafos/temas/euleriano/euleriano.htm.</a>
        </p>
        <p>
            OLIVEIRA, A. G. de. Teoria dos Grafos Caminhos e Noção de Grafos com pesos.
        </p>
    </div>
</body>
</html>