<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">

</head>
<body>
    <div class="words">

    <h1 style="text-align: center;">Grafo Euler</h1>
    <h3>»Introdução</h3>
    <p>
        A primeira pergunta a ser feita ao se ouvir
        falar em Grafo Euler é <i>"O que é Grafo Euler?"</i>
    </p>
    <br>
    <p>
        Grafo Euler é um basicamente um mapa com pontos que possuem
        ligações entre si. Esses pontos nós os
        chamamos de <i><b>vértices (V)</b></i>, as linhas que os ligam são
        <i><b>arestas (E)</b></i>.
    </p>
    <br>

    <img id="ex1" src="../images/ex1.png" alt="" srcset="" width="100%">
    <br>
    <label itemid="ex1">
        Fonte: Autor.
    </label>
    <br>
    <br>
    <p>
        Dizemos que um vértice é adjacente quando possuem uma
        aresta os conectando, por exemplo, observando a imagem
        acima podemos dizer que o vértice v1 é adjacente
        aos vertices v2 e v4. Porém, v1 não é adjacente aos vértices
        v2 e v5, pois não contém nenhuma aresta o conectando a eles.
    </p>
    <br>
    <p>
        Um Grafo Euler é feito quando se tem vértices de grau par
        e não repete as arestas indo de um ponto a outro. Por exemplo,
        para replicarmos a imagem acima, podemos começar pelo vértices
        v1 e continuar pelo seguinte caminho {v1, v3, v5, v2, v4, v1}.
    </p>
    <br>
    <p>
        A origem do Grafo Euler se dá de um convite feito ao matemático
        <i><b>Leonard Euler</b></i> em 1736, o convite foi um teste aplicado
        à Euler para que ele ingressasse como professor em uma universidade
        de <i>Königsberg</i>, Euler deveria criar uma rota que passasse por
        todas as pontes da cidade porém sem que repetisse o caminho já feito.
    </p>

    <img src="../images/cidade.png" alt=""> <br>
    <label itemid="ex1">
        Fonte: OLIVEIRA, A. G.
    </label>
</div>

</body>
</html>