<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="words">
        <h1 style="text-align: center;">Leonhard Euler</h1>
        <h3>História</h3>
        <img id="img1" src="https://f.i.uol.com.br/fotografia/2023/02/28/167759875163fe201f1e2c8_1677598751_3x2_md.jpg"/>
        <label for="img1">
            Fonte: <a style="color: blue;" target="_blank" href="https://www1.folha.uol.com.br/colunas/marceloviana/2023/02/leonhard-euler-e-o-passeio-do-cavalo-pelo-tabuleiro.shtml">Folha</a>
        </label>

        <br>
        <p>
            Nascido em 15 de abril de 1707, Leonhard Euler foi um importante matemático, formado
            também em física, Euler realizou diversas contribuições
            importantes para o campo de estudo da matemática, e uma 
            delas foi o cálculo e a teoria dos grafos, em sua homenagem
            sua descoberta foi nomeada como ”Grafo Euler”.
        </p>

        <br>
        <p>
            Euler viveu boa parte de sua vida na 
            Rússia e na Alemanha, considerado um dos matemáticos
            mais proeminentes sendo comparado a Isaac Newton, Arquimedes
            e Carl Friedrich Gauss. Euler veio a falecer em 18 de setembro
            de 1783 aos 76 anos em São Petersburgo, Rússia.
        </p>

        <br>
        <p>
            Seu pai, Paul Euler, foi amigo da família Bernoulli, mais
            especificamente do <i>Johann Bernoulli</i> que era o mais
            importante matemático da Europa, o que acabou por ser a
            influência mais relevante na vida de Leonhard.
        </p>

        <br>
        <p>
            Paul foi o primeiro a ensinar matemática a Leonhard, que em
            1720 (aos 13 anos) ingressou na Universidade de Basileia, onde
            Johann Bernoulli liderava os estudos de matemática. Inicialmente
            Johann negou-se a dar aulas para Euler, porém o ensinou como ser
            um autodidata.
        </p>

        <br>
        <p>
            Posteriormente, em 1722, Euler recebeu seu grau de Mestre em Artes,
            nessa época Johann já dava aulas aos sábados ao Leonhard, pois notou
            sua vocação para a matemática.
        </p>

        <br>
        <p>
            1726, ano em que Euler completou sua dissertação sobre propagação do som.
            Em 1727 teve sua primeira participação na competição premiada da Academia de Paris,
            onde ele deveria encontrar a melhor maneira de colocar os mastros em um navio, ficando atrás
            apenas de <i>Pierre Bouguer</i>, o que viria a ser conhecido como "o pai da arquitetura naval".
            Porém, Euler veio a ganhar o prêmio por 12 anos.
        </p>

        <br>
        <p>
            Ao decorrer dos anos Leonhard Euler passou a ter cada vez mais dificuldade de enxergar,
            porém isto fez com que sua produtividade, ao invés de decair, aumentar, melhorando suas
            habilidades de cálculo mental e de memória fotográfica. Em 1775 Euler produziu em média
            um artigo matemático por semana. 
        </p>

        <br>
        <p>
            Euler veio a falecer em 1783 devido a uma hemorragia cerebral, logo após ter uma conversa
            pós almoço de família, sobre a descoberta do novo planeta da época (Urano).
        </p>

        <br><br>

        <h3>lista das contribuições de euler para o campo da matemática</h3>

        <br>
        <li>Notação Matemática</li>
        <li>Análise</li>
        <li>Teoria dos Números</li>
        <li>Teoria dos Grafos</li>
        <li>Matemática Aplicada</li>
        <li>Modelo de viga de Euler-Bernoulli</li>
        <li>Flambagem</li>
        <li>Ângulos de Euler</li>
        <li>Diagrama de Euler</li>

    </div>
</body>
</html>